$width-max: 1920px;
$width-desktop: 1366px;
$width-tablet: 756px;
$width-mobile: 375px;
$width-min: 320px;

$fz-36px: 2.25rem;
$fz-28px: 1.75rem;
$fz-18px: 1.125rem;
$fz-16px: 1rem;
$fz-14px: 0.875rem;

$color-text-logo: #595653;
$color-text-main: #313131;
$color-text-white: #ffffff;
$color-bg: #e9ded4;
$color-bg--light: #ffffff;
$color-bg-button--dark: #1f1f1f;
$color-bg-button--light-90: rgba(255, 255, 255, 0.9);
$color-bg-ticker: #f54932;
