.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*="container"] {
  padding-inline: 5%;
}

.ticker {
  padding-block: 10px;
  color: $color-text-white;
  font-family: $font-second-family;
  font-size: $fz-16px;
  line-height: 110%;
  text-transform: uppercase;
  background-color: $color-bg-ticker;
}
