@import "./components/+.scss";

body {
  margin-inline: auto;
  max-width: $width-desktop;
  width: 100%;
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  display: grid;
  justify-content: center;
  color: $color-text-main;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

button {
  margin: 0 auto;
  border-radius: 66px;
  padding: 13px 20px;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: $fz-16px;
  line-height: 130%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
