.header {
  margin-bottom: 48px;
  padding-top: 20px;
  position: relative;
  min-height: 792px;
  background-image: url("/src/assets/backgrounds/bcg-header.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10.5px;
}

.nav__logo {
  width: 76px;
  height: 27px;
  background-image: url("/src/assets/horse.png");
  background-repeat: repeat;
}

.nav__title {
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: 700;
  font-size: $fz-14px;
  line-height: 108%;
  color: $color-text-logo;
}

.header__title {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  font-family: $font-second-family;
  font-size: $fz-36px;
  line-height: 110%;
  text-transform: uppercase;
  color: #313131;

  & span {
    text-align: center;

    &:last-child {
      text-align: end;
    }
  }
}

.header__desc {
  margin-bottom: 32px;
  font-size: $fz-18px;
  line-height: 130%;
}

.header__button {
  &--black {
    margin-bottom: 14px;
    background-color: $color-bg-button--dark;
    color: $color-text-white;

    &:hover {
      background-color: $color-button-hover;
      color: $color-text-main;
    }
  }

  &--white {
    background-color: $color-bg-button--light-90;
    color: $color-bg-button--dark;

    &:hover {
      background-color: $color-bg-button--dark;
      color: $color-text-white;
    }
  }
}

.header__ticker {
  position: absolute;
  bottom: 0;
}
