section.members 
    .members__container 
        h2.members__title Участники турнира
        
        ul.members__slider.slider-member.slider-member__list
            li.slider-member__item
                img.slide-member__img(src="/src/assets/person-placeholder.png", alt="person placeholder")
                h3.slide-member__name Хозе-Рауль Капабланка
                h4.slide-member__rank Чемпион мира по шахматам
                button.slide-member__more Подробнее

        .slide-member__switch.members-switch
            button.members-switch__left
            p.members-switch__current 1/6
            button.members-switch__right