section.price
    .price__container
        dl.price__list
            dt.price__item-term Место проведения:
                dd.price__item-definition Клуб «Картонажник»
            dt.price__item-term Дата и время мероприятия:
                dd.price__item-definition 22 июня 1927 г. в 18:00
            .price__item--pay
                dt.price__item-term Плата за игру:
                    dd.price__item-definition 20 коп.
            dt.price__item-term Стоимость входных билетов:
                dd.price__item-definition 50 коп.
            dt.price__item-term Взнос на телеграммы:
                dd.price__item-definition <span>100 руб.</span> 21 руб. 16 коп.

        p.price__questions По всем вопросам обращаться в администрацию к К. Михельсону