section.promo
  .promo__container 
      p.promo__desc Чтобы поддержать Международный васюкинский турнир
      .promo__bg-players
          .promo__bg-players--fill-gray
      p.promo__desc посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span>
  .promo__bg-man
      .promo__bg-players--fill-white
      .promo__bg-players--fill-gray
  .promo__container 
      p.promo__desc и Сеанс <span>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера