section.stages 
    .stages__container 
        h2.stages__title Этапы преображения Васюков
        p.stages__desc Будущие источники обогащения васюкинцев
        img.stages__img(src="/src/assets/plane.png")

        ul.stages__slider.slider.slider__list
            li.slider__item
                ul.slide
                    li.slide__item Строительство железнодорожной магистрали Москва-Васюки
                    li.slide__item Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
                ul.slide
                    li.slide__item Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
                ul.slide
                    li.slide__item Строительство дворца для турнира
                    li.slide__item Размещение гаражей для гостевого автотранспорта 
                ul.slide
                    li.slide__item Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
                ul.slide
                    li.slide__item Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн