section.stages 
    .stages__container 
        h2.stages__title Этапы преображения Васюков
        p.stages__desc Будущие источники обогащения васюкинцев
        img.stages__img(src="/src/assets/plane.png")

        ul.stages__slider.slider.slider__list
            li.slider__item
                ul.slide
                    li.slide__item Строительство железнодорожной магистрали Москва-Васюки
                    li.slide__item Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов