header.header
  .header__container
    nav.header__nav.nav
      div.nav__logo
      h3.nav__title клуб <br /> четырех коней
    
    h2.header__title Превратите уездный город в столицу земного шара 
    p.header__desc Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам

    +headerButton("Поддержать шахматную мысль")(class="btn1")
    +headerButton("Подробнее о турнире")(class="btn")