header.header
    .header__container
        nav.header__nav.nav
            div.nav__logo
            h3.nav__title клуб <br /> четырех коней
        
        h2.header__title Превратите уездный город <span>в столицу</span> <span>земного шара</span>
        p.header__desc Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам

        +headerButton("Поддержать шахматную мысль")(class="header__button--black")
        +headerButton("Подробнее о турнире")(class="header__button--white")

    +ticker('Дело помощи утопающим — дело рук самих утопающих!')