section.price 
    p.price__desc Чтобы поддержать Международный васюкинский турнир
    .price__bg-players
        .price__bg-players--fill

    p.price__desc посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span>
    img.price__img
    p.price__desc и Сеанс одновременной игры в шахматы на 160 досках гроссмейстера О. Бендера