section.price
  .price__container 
      p.price__desc Чтобы поддержать Международный васюкинский турнир
      .price__bg-players
          .price__bg-players--fill-gray
      p.price__desc посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span>
  .price__bg-man
      .price__bg-players--fill-white
      .price__bg-players--fill-gray
  .price__container 
      p.price__desc и Сеанс <span>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера